*{
	padding: 0;
  	margin: 0;
}
.ContainerAtas {
   width: 100%;
   height: 800px;
   background-image: url(newyork.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   padding-top: 80px;
}
.FormRegister{
   width: 70%;
   height: 700px;
   background-color: white;
   border-radius: 20px;
   padding-top: 30px;
   font-size: 40px;
}
.input{
	font-size: 14px;
	color: black;
}
b{
	position: relative;
  	top: 10px;
  	left: 30px;
  	border: 3px solid #543535;
}
