*{
	padding: 12px 12px;
  	margin: 8px 0;
}
body{
	background-image: url('messageImage_1571739393495.jpg');
	background-size: 50%;
	position: fixed;
}
h1{
	color: white;
}
label{
	color: white;
}
.tkiri{
	height: 70px;
	width: 70px;
}
.a2{
	width:60%;
    position: fixed;
    margin-left:25%;
}
.b{
    margin-top:5%;
    font-size: 60px;
    color: #616161;
    font-weight: bold;
}
.a1{
    overflow:hidden;
    height:100%;
    width:40%;
    position:fixed;
}
.q{
    width:125%;
    position: fixed;
    margin-right:5px;
    font-size: 30px;  
    margin: 0px 0px; 
    color: black;
}
.imgkiri{
    width:6%;
    position: fixed;
    margin-left: 100px;
}
.qq{
    width:50%;
    position: fixed;
    margin-right:5px;
    font-size: 22px;  
    margin: 50px 5px; 
    color: white;
    font-weight: normal;
}
.qqq{
    width:50%;
    position: fixed;
    margin-right:5px;
    font-size: 22px;  
    margin: 58px 45px; 
    color: white;
    font-weight: normal;
}
.imgkanan{
    width:6%;
    position: fixed;
    margin-left: 500px;
}
.c1{
    width:50%;
    position: fixed;
    font-size: 30px;  
    margin: 0px 400px; 
    color: black;
    padding-bottom: 100px;
}
.c2{
    width:50%;
    position: fixed;
    margin-right:5px;
    font-size: 22px;  
    margin: 53px 475px; 
    color: white;
    font-weight: normal;
}
.c3{
    width:50%;
    position: fixed;
    margin-right:5px;
    font-size: 22px;  
    margin: 60px 435px; 
    color: white;
    font-weight: normal;
}
.tkanan{
    height: 70px;
    width: 70px;
    margin-left: 500px;
}