*{
 padding: 12px 12px;
   margin: 8px 0;
}
body{
 background-image: url('background.jpg');
 background-size: 50%;
 position: fixed;
}
h1{
 color: white;
}
label{
 color: white;
}
.a{
 height: 50px;
 width: 50px;
}
.a2{
 width:60%;
    position: fixed;
    margin-left:25%;
}
.b{
    margin-top:5%;
    font-size: 60px;
    color: #616161;
    font-weight: bold;
}
.a1{
    overflow:hidden;
    height:100%;
    width:40%;
    position:fixed;
}

}