*{
	padding: 12px 12px;
  	margin: 8px 0px;
}
body{
	background-image: url('gambar1.jpg');
	background-size: 50%;
}
h1{
	color: white;
}
#a1{
	width: 25%;
	margin-left: 20%;
	margin: left;
}
#a2{
	margin-left: 20%;
	margin: left;
}
label{
	color: black;
	font-weight: bold;
}
img.a{
	height: 50px;
	width: 50px;
	padding: 40px 40px;
  	margin: 400px 400px;
}
#tambah{
	margin: 0px 10px 15px 900px;
}
b{
	position: relative;
  	top: 10px;
  	left: 30px;
  	border: 3px solid #543535;
}
